<!DOCTYPE html>
<html ng-app="skinnydip">
    <head>
        <title>Skinnydip Stub</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script>
           var skinnydip = angular.module("skinnydip", []);
           skinnydip.controller("SkinnydipController", function($scope, $http) {
              $scope.some_angular_variable = "I'm from angular";
              $scope.remote_data = []
              $scope.get_things = $http.get("sample.json").then(function(response) {
                 $scope.remote_data = response.data;
              }, function(response) {
                 alert("response failed");
              });
           });
        </script>
    </head>
    <body ng-controller="SkinnydipController">
       <b>Twig variable</b>: {{ something }}, generated on {{ app.request.host }}

       <!-- verbatim tags prevent twig variable renderering, and allow angular variables to work properly. -->
       {% verbatim %}
       <div>
          <b>Angular variable</b>: {{ some_angular_variable }}
          <table border="1">
             <tr ng-repeat="value in remote_data">
                <td>{{ value.key1 }}</td>
                <td>{{ value.key3 }}</td>
             </tr>
         </table>
       </div>
       {% endverbatim %}
    </body>
</html>
